<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yjk.atry">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:name="com.yjk.common.view.base.BaseApplication"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">


        <activity android:name="._0_root.ActivityIntro"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 기초편 -->
        <activity android:name="._1_android_base.ActivityBaseStart"
            android:screenOrientation="portrait"/>
        <activity android:name="._1_android_base.ActivityBaseMain"
            android:screenOrientation="portrait"/>

        <!-- recyclerview & viewpager -->
        <activity android:name="._2_recyclerview_viewpager.step01.ActivityRecyclerView"
            android:screenOrientation="portrait"/>
        <activity android:name="._2_recyclerview_viewpager.step02.ActivityViewPager"
            android:screenOrientation="portrait"/>
        <activity android:name="._2_recyclerview_viewpager.step03.ActivityViewPagerAndRecyclerView"
            android:screenOrientation="portrait"/>
        <activity android:name="._2_recyclerview_viewpager.step04.ActivityHeaderRecyclerView"
            android:screenOrientation="portrait"/>

        <!-- room -->
        <activity android:name="._101_room.ActivityRoom"
            android:screenOrientation="portrait"/>

        <!-- youtube -->
        <activity android:name="._3_youtube.ActivityYoutube"
            android:screenOrientation="portrait"/>

    </application>

</manifest>